*{
    box-sizing: border-box;
}

.header{
    background-color: black;
}

.header p{
    color: #C9BCB6;
    font-size: 32px;
    padding: 15px;
    font-family: sans-serif;
    font-weight: bold;
}

.banner img{
    margin-top: -16px;
    margin-bottom: 45px;
    width: 100%;
}

.column1{
    background-color: #A5D649;
    padding: 20px;
    color: #FFFFFF;
    border-radius: 5px;
}

.column2{
    background-color: #1CA39D;
    padding: 20px;
    color: #FFFFFF;
    border-radius: 5px;
}

.column3{
    background-color: #818181;
    padding: 20px;
    color: #FFFFFF;
    border-radius: 5px;
}

.icon{
    float: left;
    margin-right: 20px;
    margin-top: 30px;
}

.details h1{
    font-size: 22px;
    font-weight: 600;
    margin: 12px 0;
}

.details p{
    font-size: 15px;
    font-family:  Helvetica;
}

.featuredServices{
    background: #F3F3F3;
    text-align: center;
    margin-top: 45px;
}

.text-area{
    padding-top: 80px;
}

.text-area h{
    padding-top: 40px;
    color: #13120F;
    font-size: 48px;
    font-weight: normal;
}

.text-area p{
    font-size: 20px;
    color: #5E5A57;
}

.column21 img{
    border-radius: 50%;
    padding: 20px 0px;
}

.column21 h5{
    margin-top: 20px;
    font-size: 18px;;
}

.column21 p{
    color: #82888B;
    margin-bottom: 110px;
}

.aust-cse{
    background-image: url(../image/ddg-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: auto;
}

.aust-top p{
    padding-top: 150px;
    font-size: 45px;
    color: white;
    font-weight: 100;
    margin-bottom: -10px;
}

.aust-bottom{
    display: flex;
}

.aust-bottom p{
    font-size: 50px;
    color: white;
    font-weight: 650;
    margin-right: 15px;
}

.aust-bottom a{
    margin-top: 15px;
    padding: 10px 30px;
    color: white;
    background-color: #8EC63F;
    height: 50px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

.footer{
    background-color: black;
    padding: 30px 0;
    text-align: center;
}

.footer p{
    color: white;
    font-size: 20px;
}



@media (max-width: 575px){
    .header p{
        color: #C9BCB6;
        font-size: 22px;
        padding: 10px;
        font-family: sans-serif;
        font-weight: bold;
    }

    .details h1{
        font-size: 18px;
        font-weight: 600;
        margin: 8px 0;
    }

    .details p{
        font-size: 14px;
        font-family:  Helvetica;
    }

    .icon{
        float: left;
        margin-right: 20px;
        margin-top: 10px;
    }

    .text-area h{
        padding-top: 10px;
        color: #13120F;
        font-size: 28px;
        font-weight: normal;
    }

    .text-area p{
        font-size: 16px;
        color: #5E5A57;
    }

    .featuredServices{
        background: #F3F3F3;
        text-align: center;
        margin-top: 45px;
    }

    .column21 img{
        border-radius: 50%;
        padding: 10px 0px;
    }

    .column21 h5{
        margin-top: 10px;
        font-size: 18px;;
    }

    .column21 p{
        color: #82888B;
        margin-bottom: 40px;
    }

    .aust-top p{
        padding-top: 150px;
        font-size: 25px;
        color: white;
        font-weight: 100;
        margin-bottom: -10px;
    }
    .aust-bottom p{
        font-size: 30px;
        color: white;
        font-weight: 650;
        margin-right: 15px;
    }
    .footer{
        background-color: black;
        padding: 15px 0;
        text-align: center;
    }  

    .footer p{
        color: white;
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .column1{
        background-color: #A5D649;
        padding: 20px;
        color: #FFFFFF;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    .column2{
        background-color: #1CA39D;
        padding: 20px;
        color: #FFFFFF;
        border-radius: 5px;
        margin-bottom: 20px;

    }

    .column3{
        background-color: #818181;
        padding: 20px;
        color: #FFFFFF;
        border-radius: 5px;
    }
    .aust-cse{
        background-image: url(../image/ddg-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 400px;
        width: auto;
    }

    .aust-top p{
        padding-top: 50px;
        font-size: 30px;
        color: white;
        font-weight: 100;

    }

    .aust-bottom{
        display: grid;
    }

    .aust-bottom p{
        font-size: 40px;
        color: white;
        font-weight: 650;
    }

    .aust-bottom a{
        display: block;
        padding: 10px 0px;
        width: 200px;
    }
}